@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color:  #22254b;
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items:normal ;
}
.home{
    cursor: pointer;
    color: #fff;
}
.home:hover{
    color: green;
}
.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 24px;
    justify-content: left;
    padding: 0.5rem 1rem;
    align-items:flex-end;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    background-color: #22254b;
    outline: none;
}

main {
    display:flex;
    flex-wrap: wrap;
}

.movie {
    background-color:  #22254b;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*---------footer--------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding:64px 0 20px;
}
.footer p{
    color:#8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2{
    min-width: 250px;
    margin-bottom: 20px;
}
ul{
    list-style-type: none ;
    cursor: pointer;
}
ul l:hover{
    color: blue;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
      width: 140px;
}
.footer h3{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.icon{
    color: #fff;
}
second {
    background-color:  #22254b;
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items:normal ;
}
p{
    color: #fff;
}
